ul {
  position: sticky;
  top: 0;
}
ul {
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li a {
  color: #666;
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
}
li {
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}